@use '@angular/material' as mat;
@import '@angular/material/theming';
// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
@include mat-core();

// define a real custom palette (using http://mcg.mbitson.com)
$custom-primary: (
    50 : #ecfdfc,
    100 : #cff9f7,
    200 : #aff6f1,
    300 : #8ef2eb,
    400 : #76efe7,
    500 : #5eece3,
    600 : #56eae0,
    700 : #4ce7dc,
    800 : #42e4d8,
    900 : #31dfd0,
    A100 : #ffffff,
    A200 : #f0fffe,
    A400 : #bdfff9,
    A700 : #a3fff7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-warn: (
    50 : #ffe9ed,
    100 : #fec8d3,
    200 : #fea3b5,
    300 : #fd7e97,
    400 : #fc6281,
    500 : #fc466b,
    600 : #fc3f63,
    700 : #fb3758,
    800 : #fb2f4e,
    900 : #fa203c,
    A100 : #ffffff,
    A200 : #fffdfd,
    A400 : #ffcad0,
    A700 : #ffb1b9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// mandatory stuff for theming
$bv-palette-primary: mat-palette($custom-primary);
$bv-palette-accent:  mat-palette($custom-warn);

// include the custom theme components into a theme object
$bv-theme: mat-light-theme($bv-palette-primary, $bv-palette-accent);

// include the custom theme object into the angular material theme
@include angular-material-theme($bv-theme);
//------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@1&display=swap');
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --custom-dark-blue: #16141B;
  --custom-orange: #FC4867;
  --custom-bright-blue: #5EECE3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

.logo {
  width: 5rem;
  cursor: pointer;
}

b {
  color: var(--custom-orange);
}

h1 {
  font-family: 'Anonymous Pro', monospace;
}

body {
  background-color: var(--custom-dark-blue);
  color: #FFFF;
}

.wrapper {
  width: 100%;
}

.content {
  width: min(95%, 1600px);
  margin-inline: auto;
  height: auto;
  position: relative;
  isolation: isolate;
}

.noise {
  position: relative;
  overflow: hidden;
}

.noise::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.15;
  background-blend-mode: overlay;
  z-index: -1;
  background-size: cover;
  background-image: url("assets/noise.png");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Oswald, "Helvetica Neue", sans-serif;
}

textarea {
  resize: none;
  outline: none;
  border: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--custom-bright-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--custom-orange);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

