<div class="conteudo">
  <div class="container-fluid">
    <div>
      <div>
        <a><img class="logo mt-2 mb-2" src="assets/logo.png" alt="logo"></a>
      </div>
    </div>
    <!--    =============================== botões ===============================-->
    <div class="row">
      <div class="col d-flex align-items-center justify-content-around">
        <button mat-button class="custom-button">
          <mat-icon color="warn">list</mat-icon>
          <mat-label>Lista</mat-label>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex align-items-center justify-content-around">
        <button mat-button class="custom-button">
          <mat-icon color="warn">list</mat-icon>
          <mat-label>Lista</mat-label>
        </button>
      </div>
    </div>
    <!--    =============================== botões ===============================-->
  </div>
</div>
