<div class="wrapper">
    <section class="img-banner d-flex align-items-center justify-content-around">
      <div class="col position-absolute fixed-top mt-3">
        <a routerLink="/home"><img class="logo" src="assets/logo.png" alt="logo"></a>
      </div>
      <div class="container status-form p-5">
        <div class="row">
            <div class="col">STATUS AQUI</div>
        </div>
        <div class="row">
          <div class="col d-flex flex-column justify-content-around">
            <button mat-raised-button class="mt-5 status-button" color="primary" routerLink="/orderdetails">detalhes de entrega</button>
          </div>
        </div>
      </div>
    </section>
    