.img-banner{
    background-image: url("../../../assets/background.jpg");
    background-position-y: -100px;
    position: relative;
    height: 100vh;
  }
  .img-banner::after{
    content: "";
    position: absolute;
    inset:0;
    opacity: 0.15;
    background-blend-mode: overlay;
    z-index: -1;
    background-size: cover;
  }
  .orderdetails-form{
    width: min(90%, 600px);
    background: linear-gradient(rgba(141, 119, 132, 0), var(--custom-dark-blue));
  }
  .orderdetails-button{
    transition: 0.3s all;
    outline: none;
    &:hover{
      background-color: #FC4867;
      color: white;
    }
  }