<div class="x">
    <section class="img-banner d-flex align-items-center justify-content-around">
      <div class="col position-absolute fixed-top mt-3">
        <a routerLink="/home"><img class="logo" src="assets/logo.png" alt="logo"></a>
      </div>
      <div class="container orderdetails-form p-10 orderdetails">
        <div class="row">
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <h2>Seu pacote está a caminho</h2>
                <p>Acompanhe a localização em tempo real
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 d-flex  justify-content-start align-items-start pt-3">
                <p>A caminho de Rua XXXXXXXXXX, 10<br>São Paulo, SP - 04444-444 </p>
            </div>
            <div class="col-6 d-flex  justify-content-end align-items-end">
                <p>Estimativa de entrega: 5 minutos</p>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center pt-3 gps">
                <img src="assets/t.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center pt-5">
                <h4>Codigo de retirada: NPUN182AUT</h4>
            </div>
        </div>
      </div>
    </section>
<button mat-raised-button class="mt-5 tracker-button" color="primary" routerLink="/home">voltar home</button>
