
.img-banner{
  background-image: url("../../../assets/background.jpg");
  background-position-y: -100px;
  position: relative;
  height: 45rem;
}
.img-banner::after{
  content: "";
  position: absolute;
  inset:0;
  opacity: 0.15;
  background-blend-mode: overlay;
  z-index: -1;
  background-size: cover;
}
.left-section{
  background: linear-gradient(rgba(173, 83, 137, 0), var(--custom-dark-blue));
}
.img1{
  width: min(90%, 900px);
  margin-left: 35px;
  height: auto;
}
.text-area{
  padding: max(4vh, 1rem);
  overflow-y: auto;
}
.text-area div{
  max-width: 200px;
}
.rectangle{
  height: 80%;
  width: auto;
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
}
.rectangle img{
  width: auto;
  z-index: -1;
  height: auto;
}
.highlight1{
  color: var(--custom-bright-blue);
}
i{
  color: var(--custom-orange);
}
ul{
  list-style: none;
}
li a{
  text-decoration: none;
}
.login-button{
  transition: 0.3s all;
  outline: none;
  &:hover{
    background-color: #FC4867;
    color: white;
  }
}

.serviço{
}
  .serviço h4{
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.8px;
  }
  .serviço p{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  .serviço h2{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.08px;
  }
  .serviço br{
    line-height: 60px;
  }
  .serviço img{
    height: 5px;
  }
  .serviço span{
    color: #2fd3c5;
  }
.serv_container{
  background: linear-gradient(#DC3545, #f36e60);
}
.serviço_container{
  height: 35rem;
  margin-top: 25px;
  background: linear-gradient(var(--custom-dark-blue), rgba(173, 83, 137, 0));
  margin-bottom: 45px;
  margin-left: 25px;
  margin-right: 25px;
  transition: all 0.5s;
  animation: gradientAnimation 3s infinite alternate;
}
.serviço_container:hover{
  transform: scale(1.1);
}
.fad{
  background-color: rgba(22, 20, 27, 0.42);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.serviço_container:hover::before {
  opacity: 1;
}
.underline{
  height: 5px;
}
.devs{

}
  .devs h2{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
  }


.devs_container{
  background: hsl(256, 14%, 15%);
  margin-left: 25px;
  margin-right: 25px;
}
  .devs_container img{
    margin-top: 10px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 556px;
  }
  .devs_container h4{
    margin-top: 10px;
  }

.devs_container2{
  background: hsl(256, 14%, 15%);
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.devs_container2 img{
  margin-top: 10px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 556px;
}
.devs_container2 h4{
  margin-top: 10px;
}

.atendimento{}
  .atendimento h2{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
  }

.atendimento_container{
  margin-top: 25px;
  background: hsl(256, 14%, 15%);
}


.footer{
  margin-top: 30px;
  //background-color: #918f8f;
}
  .footer h4{
    font-size: 19px;
    font-style: normal;
    line-height: normal;
  }

  .footer a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
  }

  .footer svg{
    width: 50px;
  }

.copyright h3{
    margin-left: 10px;
  }
