<div class="wrapper">
  <section class="img-banner">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-lg-4 left-section">
          <div class="row mt-3">
            <div class="col-3">
              <a><img class="logo" src="assets/logo.png" alt="logo"></a>
            </div>
            <div class="col d-flex align-items-center">
              Autonomous Express
            </div>
          </div>
          <div class="row h-75">
            <div class="col d-flex align-items-end">
              <div>
                <h1>A entrega do <b>futuro</b> chegou</h1>
                <h4>Rápida, Segura e <b class="highlight1">Autônoma</b>.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="position-relative">
    <div class="content d-flex pt-5 pb-6">
      <div class="row">
        <div class="col-lg-6 position-relative d-flex justify-content-around align-items-center">
          <div class="text-area">
            <div class="position-relative">
              <h1>Sobre nós</h1>
              <img class="w-100 mb-2" src="assets/underline-blu.png" alt="undeline">
            </div>
            <p>
              Imagine um <b>futuro</b> onde o transporte se torna mais seguro, eficiente e acessível. Essa é a visão por
              trás da
              Autonomous Express, nossa startup de carros autônomos. Estamos na vanguarda da revolução da mobilidade,
              desenvolvendo tecnologia de ponta que permite veículos operarem de forma autônoma, tornando as estradas
              mais
              inteligentes e nossas vidas mais fáceis.
            </p>
          </div>
        </div>
        <div class="col d-flex justify-content-around align-items-center">
          <div class="mb-3">
            <img ngSrc="assets/autonomous_plate.png" class="img1" alt="Sign with the name of the company" height="685"
                 width="932">
          </div>
        </div>
      </div>
    </div>
    <div class="rectangle">
      <img ngSrc="assets/rectangle.png" class="" alt="Sign with the name of the company" height="685"
           width="932">
    </div>
  </section>

</div>
