<div class="custom-container">
  <div class="container-fluid bg-primary d-flex flex-column">
    <div class="row py-4 d-flex align-items-center">
      <div class="col-2">
        Logo
      </div>
      <div class="col"></div>
      <div class="col">
        <button mat-button class="custom_button" color="primary">Serviços</button>
        <button mat-button class="custom_button" color="primary">Contato</button>
        <button mat-button class="custom_button" color="primary">Consultar Entrega</button>
        <button mat-button class="custom_button" color="primary">Login</button>
      </div>
    </div>
    <div class="row d-flex flex-grow-1">
      <div class="col d-flex align-self-end mb-5">
        <h1>
          A Entrega do Futuro Chegou: Rápido, Seguro e Autônomo.
        </h1>
      </div>
    </div>
  </div>
</div>
