*{
  transition-duration: 0.3s;
}
.custom-container{
  width: 100vw;
  height: auto;
}
.container-fluid{
  height: 80rem;
  background-image: url("/assets/landing_page_background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
button{
  font-size: 30px;
  margin: 0 2rem;
}
h1{
  font-size: 6rem;
}
.custom_button:hover{
  color: chocolate;
  transform: scale(1.2);
}
